body {
    background: linear-gradient(90deg, rgba(0, 12, 209, 1) 0%, rgba(171, 0, 209, 1) 100%);
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-margin {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.font-green {
    color: #00FF00;
}

.font-red {
    color: red;
}

.font-blue {
    color: blue;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.img-nav-icon {
    width: 30px;
}

.menu-container {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.img-menu-panel {
    width: 70px;
}

@media (orientation: portrait) {
    .title {
        font-size: 27px;
    }
}